/* ----------- Custom CSS ----------- */
html {
    scroll-behavior: smooth;
}

body {
    color: #F2F2F2;
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 16px;
}

@media (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

button {
    outline: none;
    border: none;
}

input, textarea {
    font-size: 14px;
}


/* ----------- Section 1 (BANNER) ----------- */
#banner {
    background-color: #BFDA00;
}

#myVideo {
    position: relative;
    size: cover;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh
}
  

#section0 h1 {
    color: #444;
}

#section0 p {
    color: #333;
    opacity: 0.4;
}

/* ----------- Section 2 (ABOUT) ----------- */
#about {
    background: url('../img/bg/slide2.png') no-repeat;
    background-position: center;
    background-size: cover;
}

#section1 h1 {
    color: #fff;
}

#section1 p {
    opacity: 0.8;
}

/* ----------- Section 3 (SOLUTIONS) ----------- */
#solutions {
    /* background: url('../img/bg/slide3.png') no-repeat; */
    background-position: center;
    background-size: cover;
}

#solutions img {
    height: 100px;
    width: auto;
    padding: 10px;
    margin: 0 auto;
}

#solutions text {
    font-weight: 400;
    letter-spacing: 0.03em;
}

#solutions p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(184, 184, 184);
}

.solution-item {
    transition: 0.3s;
}

.solution-item p {
    height: 160px;
}

.solution-item:hover {
    background: rgb(37, 37, 37);
    border-radius: 10px;
    transform: scale(1.11);
    padding: 0.5rem;
    box-shadow: 0 3px 20px rgba(53, 53, 53, 0.5);
}

#section2 p {
    opacity: 0.6;
}

.slick-track {
    width: auto;
}

.slick-slide {
    width: 270px;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #solutions .container {
        max-width: 990px;
    }
}

@media screen and (max-width: 768px) {
    .solution-item p {
        height: 200px;
    }
    .solution-item {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 660px) {
    .solution-item p {
        height: 90px;
    }
    .solution-item {
        margin: 1rem 0;
    }
}


/* ----------- Section 4 (NEWS) ----------- */

.competitions {
    background: url('../img/content/competitions.png');
    background-position: center;
    background-size: cover;
}

.awards {
    background: url('../img/content/awards.png');
    background-position: center;
    background-size: cover;
}

.testimonials {
    background: url('../img/content/testimonials.png');
    background-position: center;
    background-size: cover;
}

.news {
    background: url('../img/content/news.jpg');
    background-position: center;
    background-size: cover;
}

.careers {
    background: url('../img/content/careers.jpg');
    background-position: center;
    background-size: cover;
}

#section2 p {
    opacity: 0.6;
}

.awards,
.testimonials,
.news,
.competitions,
.careers {
    min-height: 160px;
    padding: 50px;
    transition: 0.3s;
    border-radius: 0.5rem;
    justify-content: center;
}

.awards:hover,
.testimonials:hover,
.news:hover,
.competitions:hover,
.careers:hover {
    transform: scale(0.96);
}

.event-label {
    width: 240px;
}

.event-label img {
    height: 120px;
    width: auto;
    opacity: 0.7;
    padding: 2rem 2rem 0.5rem 2rem;
}

@media screen and (max-width: 768px) {
    .event-label img {
        height: 120px;
        width: auto;
        opacity: 0.7;
        padding: 1rem;
    }
}

/* ----------- Section 5 (FAQS) ----------- */
#faqs {
    background: url('../img/bg/abouteduspec.png');
    background-position: center;
    background-size: cover;
    transition: ease-out 0.2s;
}

.question {
    border-left: 10px solid #9BDC50;
    background: #f2f2f2;
}

.answer {
    border-left: 10px solid #f2f2f2;
}

/* ----------- Section 6 (PARTNERS) ----------- */
#partners .start-img img {
    height: 50px;
    width: auto;
}

#partner-img {
    height: auto;
    width: 100%;
}

/* ----------- Section 9 (FOOTER) ----------- */
.bottom-footer p {
    font-size: 12px;
}

/* ----------- font sizing ----------- */
#faq .content {
    top: 40%;
}

.text-header {
    font-size: 75.76px;
}

.text-header2 {
    font-size: 56.83px;
}

@media (max-width: 767px) {
    .text-header {
        font-size: 31.98px;
    }
    
    .text-header2 {
        font-size: 29.99px;
    }
}

/* ----------- buttons ----------- */
.btn-learn-more {
    background: #9BDC50;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    font-size: 16px;
    outline: none;
    border: none;
}

.btn-learn-more-blue {
    background: #0593D0;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    outline: none;
    border: none;
}

.btn-send {
    background: #2779bd;
    color: #fff;
    border-radius: 99px;
    padding: 15px 20px;
    width: 180px;
    font-size: 18px;
    outline: none;
    border: none;
}

.btn-learn-more:hover ,
.btn-send:hover {
    box-shadow: 0 3px 20px rgba(53, 53, 53, 0.5);
}

.btn-learn-more:hover {
    background: rgb(125, 182, 60);
}

/* Float characters */
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(125, 182, 60);
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float2 {
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#006AFF;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.my-float{
	font-size: 24px;
	margin-top: 18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 500px) {
    .float, .float2 {
        height: 50px;
        width: 50px;
    }
    .float {
        bottom: 20px;
        right: 20px;
    }
    .float2 {
        bottom: 80px;
        right: 20px;
    }
    .my-float {
        font-size: 20px;
        margin-top: 14px;
    }
}

.icon-bar {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
    display: flex;
    flex-direction: row;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: #000;
    font-size: 20px;
    border-radius:50px;
  }
  
  .facebook {
    /* background: #DCDCDC; */
    color: #000;
  }
  
  .twitter {
    /* background: #DCDCDC; */
    color: #000;
  }
  
  .google {
    /* background: #DCDCDC; */
    color: #000;
  }
  
  .linkedin {
    background: #000;
  }
  
  .youtube {
    background: #000;
  }
  
  .content {
    font-size: 30px;
  }
  
  .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .square {
    background: #DCDCDC;
    height: 60px;
    width: 60px;
    border-radius: 99px;
    margin: 5px;
  }

  @media screen and (max-width: 500px) {
      .square {
          height: 50px;
          width: 50px;
      }
      .icon-bar {
          top: 92%;
      }
      .icon-bar a {
          font-size: 18px;
          padding: 15px;
      }
      .row {
          justify-content: start;
          padding-left: 5%;
      }
  }

  #about .logo {
      width: 20rem;
      height: auto;
      margin-bottom: 1rem;
  }

  .bg-blue-gradient {
    background: url('../img/bg/girl\ with\ robot.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

.bg-green-custom {
    background: #9BDC50;;
}

