/* ----------- Custom CSS ----------- */
html {
    scroll-behavior: smooth;
}

body {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

h1 {
    font-size: 6em;
}

p {
    font-size: 16px;
}

/* li {
    line-height: 1.2;
} */

text {
    line-height: 1.5;
    font-size: 1rem;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}

#our-story .content {
    background: url('../img/bg/story.svg') no-repeat;
    background-size: contain;
    background-position: top;
}

#values .vision-mission img {
    height: 120px;
    width: auto;
}

/* ----------- VALUES ----------- */
.values img {
    height: 80px;
    width: auto;
    margin: 20px;
}

.content {
    display: flex;
    justify-content: center;
}

/* STEM CSS */
.computational-skills img {
    height: 120px;
    width: auto;
}

li {
    font-size: 16px;
}

/* ----------- CAREER ----------- */
.job-title-text {
    font-size: calc(100vw/25);
}

@media screen and (max-width: 576px) {
    .job-title-text {
        font-size: calc(100vh/30);
    } 
}

.job-desc {
    background: url('../img/bg/line.png') no-repeat;
    background-size: contain;
}

#under-construction {
    background: url('../img/content/construction.svg') no-repeat;
    background-size: 60%;
    background-position-x: right;
    background-position-y: center;
}

@media screen and (max-width: 1023px) {
    #under-construction {
        background-size: 70%;
        background-position-x: right;
        background-position-y: center;
    }
    .text-7xl {
        font-size: 2.5rem;
    }
    .text-container img {
        max-width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 660px) {
    #under-construction {
        background-size: 100%;
        background-position-x: right;
        background-position-y: bottom;
    }
    .text-7xl {
        font-size: 2rem;
    }
    .text-container {
        padding-top: 5rem;
    }
}

/* ============ EVENTS =========== */
.event-container {
    max-width: 900px;
    min-width: 300px;
}

.px-3 {
    padding-right: 0;
    padding-left: 0;
}

.event-avatar-img {
    height: 200px;
    width: 200px;
    background-image: url('../img/icons/award-ribbon.svg') no-repeat;
    background: lightgreen;
}

.event-avatar-img img {
    padding: 1rem;
    object-fit: contain;
}

.event-box {
    transition: 0.2s;
    padding-bottom: 0.5rem;
}

.img-box {
    width: 280px;
    height: 280px;
}


.img-box img {
    object-fit: cover;
    object-position: center;
}

.img-label {
    width: 280px;
    display: none;
    z-index: 50;
    position: absolute;
}


.event-box:hover {
    transform: scale(1.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.event-box:hover > .img-label {
    display: block;
}

.event-box-wrapper {
    padding: 0.5rem;
}

@media screen and (max-width:768px) {
    .event-box:hover {
        transform: scale(1);
        box-shadow: none;
    }

    
    .px-3 {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

    .img-box {
        max-width: 230px;
        max-height: 230px;
    }

    .img-label {
        max-width: 230px;
        display: none; 
        padding-bottom: 0.5rem;
    }
}


@media screen and (max-width:660px) {
    .event-box {
        padding-bottom: 0.7rem;
    }

    .event-avatar-img {
        height: 70px;
        width: 70px;
    }

    .event-avatar-img img {
        object-fit: cover;
        padding: 0;
    }

    .img-box {
        max-width: 290px;
        max-height: 290px;
    }

    .img-label {
        max-width: 290px;
        display: block; 
        z-index: 0;
        position: relative;
        padding-bottom: 0.5rem;
    }
}


